.card {
  background-color: #FFF;
  box-shadow: 0 8px 24px rgba(13, 13, 18, .04);
  border-radius: 2px;
  &_bottom_margin {
    margin-bottom: 10px;
  }
  &_padding_s {
    padding: 10px;
  }
  &_padding_m {
    padding: 15px;
  }
  &_padding_l {
    padding: 20px;
  }
}
