.link_card {
  display: flex;
  align-items: center;
  padding-top: var(--padding-l);
  cursor: pointer;
  color: #000;
  transition: all .15s ease;
  &:hover {
    color: var(--bs-color-hover);
  }
  &_title {
    min-width: 0;
    flex: 1;
  }
  &_arrow {
    width: 20px;
  }
}