.nav {
  &_group {
    height: 55px;
    display: flex;
  }
  &_item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    &:hover {
      color: var(--bs-color-main);
    }
  }
}