.container {
  display: flex;
  align-items: center;
}
.title {
  min-width: 0;
  flex: 1;
  font-size: var(--font-size-xs);
  font-weight: 600;
  &::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--color-main);
    margin-right: var(--padding-s);
  }
}