.container {
  display: flex;
}
.main {
  min-width: 0;
  flex: 1;
}
.type {
  width: 40px;
  // margin-top: 3px;
  margin-right: var(--padding-s);
  text-align: center;
}
.title {
  margin-bottom: var(--padding-s);
  font-size: var(--font-size-title);
  font-weight: 600;
  line-height: 1.2;
  color: var(--font-color-content);
  cursor: pointer;
  &:hover {
    color: var(--bs-color-hover);
  }
}
.content {
  margin-bottom: var(--padding-m);
  font-size: var(--font-size-s);
  color: var(--font-color-content);
  line-height: 1.2;
}