
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--padding-xs);
}
.avatar {
  margin-right: var(--padding-s);
}
.main {
  min-width: 0;
  flex: 1;
}
.user {
  font-size: var(--font-size-s);
  color: var(--font-color-content);
  cursor: pointer;
}
.time {
  font-size: var(--font-size-xs);
  color: var(--font-color-info);
  line-height: 1;
}