.container {
  display: inline-block;
  margin-bottom: .75em;
  margin-left: 0;
  margin-right: var(--padding-m);
  padding-right: var(--padding-m);
  &.border {
    border-right: 1px solid #f0f0f5;
  }
}
.title {
  font-size: var(--font-size-xs);
  color: var(--font-color-info);
}
.value {
  font-size: 20px;
  color: var(--font-color-content);
  font-weight: 400;
}